@font-face {
  font-family: clockwork;
  src: url("Timepiece.TTF");
}

body  {
  background-color: #eee;
  margin: 0 auto;
  width: 80%;
  font-family: sans-serif;
}

h1 {
  font-size: 64px;
  text-shadow: 0 10px 10px lightgrey;
  font-family: clockwork;
  text-align: center;
  color: #f27233;
}

p {
  font-family: OpenSans;
}
