doctype html
html
  head
    title 404
    link(rel='stylesheet', href='/style/style.css')
  body
    #content
      h1  404
      p.errorfour(align="center") "Deine Droogs sind in einer anderen Milchbar, rightyright?"
      form(action="/")
        button(type="submit" value="Alright!") Rightyright!
