doctype html
html
  include basic/head.pug
  body
    #content
      h1  404
      p.errorfour(align="center") "Deine Droogs sind in einer anderen Milchbar, rightyright?"
      form(action="/")
        button(type="submit" value="Alright!") Rightyright!
      include basic/footer.pug
