doctype html
html(lang="de")
  include basic/head.pug
  body
    #content
      h1 Cocktails Orange
      p Wenn du und deine Droogs mal wieder einen Cocktail trinken wollen, right? Dann bist du hier genau richtig. Denn wir wissen, was ihr braucht!
      form(action="/new/cocktail")
        button(type="submit") Neuer Cocktail
      include basic/footer.pug
