doctype html
html(lang="de")
  head
    title= "Cocktails Orange"
    link(rel='stylesheet', href='/style/style.css')
  body
    #content
      h1 #{title}
      p #{message}
      a(href="/new/cocktail") New Cocktail
      ul
        each val in [1, 2, 3, 4, 5]
          li= val
      include footer.pug
