doctype html
html(lang="de")

  include basic/head.pug
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io();
    var myMessage;

    socket.on('connect', (data) => {
      // Here is what happens when a connection is established
    });

    socket.on('fakenews', (data) => {
      document.getElementById("mes").innerHTML = data;
    });

  body
    #content
      h1 Cocktails Orange
      p Wenn du und deine Droogs mal wieder einen Cocktail trinken wollen, right? Dann bist du hier genau richtig. Denn wir wissen, was ihr braucht!
      form(action="/new/cocktail")
        button(type="submit") Neuer Cocktail

      form(action="/new/user")
        button(type="submit") Neuer Nutzer

      form(action="/new/ingredient")
        button(type="submit") Neue Zutat

      form(action="/cocktails")
        button(type="submit") Alle Cocktails

      form(action="/users")
        button(type="submit") Alle Nutzer

      p(id="mes") Hier sollten Tweets stehen
