doctype html
html
  include basic/head.pug
  body
    #content
    each val in listi
        h1= val
        p Hier könnte was stehen

    form(action="/")
        button(type="submit" value="Alright!") Rightyright!
