doctype html
html
  include basic/head.pug
  body
    #content
        h1 Alle Cocktails
        ul
            each val in listi
            li
                a(href="/cocktail/"+val)= val

        form(action="/")
            button(type="submit" value="Alright!") Rightyright!
