doctype html
html
  include basic/head.pug
  body
    #content
    each val in listi
        h1= val
        a(href="/cocktail/"+val) val + " (Klick mich)"

    form(action="/")
        button(type="submit" value="Alright!") Rightyright!
