doctype html
html
  include basic/head.pug
  body
    #content
        h1 Alle Cocktails
        each val in listi
            a(href="/cocktail/"+val)= val + " (Klick mich)"

        form(action="/")
            button(type="submit" value="Alright!") Rightyright!
