doctype html
html(lang="de")
  include basic/head.pug
  body
    #content
      h1 #{cocktail}
      p#desq #{description}
      each val in ingredients
        p.ingredient= val

      a(href="/cocktails") ZURÜÜÜCK!
