doctype html
html
  include basic/head.pug
  body
    #content
      include basic/humeb.pug
      h1 New Cocktail
      form(method='POST' action='/createnewcocktail')
        input.form-control(type='text' id='name' placeholder='Name' name='name')
        input.form-control(type='text' id='mail' placeholder='E-Mail' name='mail')
        textarea(rows="4" placeholder="Beschreibung" name="desc")
        button Senden
