doctype html
html(lang="de")
  head
    title #{title}
    link(rel='stylesheet', href='/style/style.css')
  body
    dev#content
      h1 #{cocktail}
      div#content
        p#desq #{description}
    include footer.pug
