doctype html
html
  include basic/head.pug
  body
    #content
    each val in listi
        h1= val.name
        p= val.desc

    form(action="/")
        button(type="submit" value="Alright!") Rightyright!
