doctype html
html
  include basic/head.pug
  body
    #content
      h1 New Cocktail
      form(method='POST' action='/createnewcocktail')
        input.form-control(type='text' id='name' placeholder='Name' name='name')
        input.form-control(type='text' id='mail' placeholder='E-Mail' name='email')
        textarea(rows="4" placeholder="Beschreibung" name="description")
        button Senden
