doctype html
html
  include basic/head.pug
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io();
    var myMessage;

    socket.on('connect', (data) => {
      // Here is what happens when a connection is established
    });

    socket.on('userlist', (data) => {

      var swiggity = "";
      console.log("data before parse: " + data);
      data = JSON.parse(data);
      console.log("data anus parse: " + data);

      for (var i = 0; i < data.length; ++i) {
        console.log(data.name);
        swiggity += "<p>"+data[i]"</p>";
      }

      document.getElementById("lili").innerHTML = swiggity;
    });
  body
    #content
        h1 Alle Nutzer
        p#lili Nutzer.
            a(href="/users/"+val)= val

        form(action="/")
            button(type="submit" value="Alright!") Rightyright!
