doctype html
html
  include basic/head.pug
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io();
    var myMessage;

    socket.on('connect', (data) => {
      // Here is what happens when a connection is established
    });

    socket.on('userlist', (data) => {

      var swiggity = "";
      console.log("data before parse: " + data);
      data = JSON.parse(data);
      console.log("data anus parse: " + data);

      for (var i = 0; i < data.length; ++i) {
        console.log("Data[i]: "+data[i]);
        swiggity += "<a href='/users/" + data[i] + "'>"+data[i]+"</a></br></br>";
      }

      document.getElementById("lili").innerHTML = swiggity;
    });
  body
    #content
        include basic/humeb.pug
        h1 Alle Nutzer
        p#lili Bitte warten Sie, bis die Nutzerliste geladen hat!
            a(href="/users/"+val)= val

        form(action="/")
            button(type="submit" value="Alright!") Rightyright!
